In [ ]:
from dotenv import load_dotenv;
import os;

import requests;

import pandas as pd;
import numpy as np;

load_dotenv()

ALPHA_VANTAGE_API_KEY = os.getenv('ALPHA_VANTAGE_API_KEY')

BASE_URL = 'https://www.alphavantage.co'
TICKER = 'IBM'

In [86]:

weekly_data_url=f'{BASE_URL}/query?function=TIME_SERIES_WEEKLY&symbol={TICKER}&apikey={ALPHA_VANTAGE_API_KEY}'
fetched_weekly_data = requests.get(weekly_data_url).json()

# Meta Info about the Stock
print(f'{TICKER}: Meta Info')
print(fetched_weekly_data['Meta Data']);

# Raw data as provided by the API
weekly_raw = fetched_weekly_data['Weekly Time Series'];

# print(weekly_raw);

def parseto_dataframe (data):
    columns = ['Date Range', 'Open', 'High', 'Low', 'Close', 'Volume']

    df = pd.DataFrame(columns=columns)

    print("DF", df);

    for date, values in data.items():
        row = { 'Date Range': date, 
                'Open': float(values['1. open']), 
                'High': float(values['2. high']), 
                'Low': float(values['3. low']), 
                'Close':  float(values['4. close']), 
                'Volume': int(values['5. volume'])
              }
        new_row = pd.DataFrame.from_records([row], columns=columns)
        df = pd.concat([df, new_row])

    # df.set_index('Date Range', inplace=True)

    return df

weekly_data = parseto_dataframe(weekly_raw)
weekly_data

IBM: Meta Info
{'1. Information': 'Weekly Prices (open, high, low, close) and Volumes', '2. Symbol': 'IBM', '3. Last Refreshed': '2023-01-13', '4. Time Zone': 'US/Eastern'}
DF Empty DataFrame
Columns: [Date Range, Open, High, Low, Close, Volume]
Index: []

    Date Range    Open    High      Low   Close    Volume
0   2023-01-13  144.08  146.66  142.900  145.89  14580596
0   2023-01-06  141.10  144.25  140.010  143.70  13648755
0   2022-12-30  141.73  142.81  139.450  140.89  10477419
0   2022-12-23  140.16  143.09  137.195  141.65  19663576
0   2022-12-16  147.82  153.21  138.970  140.16  33572382
..         ...     ...     ...      ...     ...       ...
0   1999-12-10  113.00  122.12  107.560  109.00  58626000
0   1999-12-03  104.94  112.87  102.120  111.87  37670000
0   1999-11-26  105.50  109.87  101.810  105.00  37165600
0   1999-11-19   96.00  105.12   92.620  103.94  61550800
0   1999-11-12   90.50   97.50   90.500   95.87  43569700

[1210 rows x 6 columns]

In [87]:
weekly_data.describe(include=[np.number])

              Open         High          Low        Close
count  1210.000000  1210.000000  1210.000000  1210.000000
mean    129.339746   132.274317   126.549525   129.445863
std      35.950210    36.119394    35.692797    35.941005
min      56.600000    62.000000    54.010000    56.600000
25%      98.047500   101.000000    95.715000    97.967500
50%     126.490000   129.140000   123.400000   126.975000
75%     153.277500   155.832500   150.950000   153.217500
max     212.900000   215.900000   210.110000   214.920000